body {
  background-color: #D3D3D3;
}

.photo {
  width: 50%;
  height: 800px;
  background-image: url(../images/ann.jpg);
  background-size: cover;
}

.text {
  background-color: #F9AB69;
  width: 50%;
  height: 800px;
  padding: 40px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
}

h1 {
  font-size: 60px;
}

.articles {
  width: 100%;
  height: 30%;
  background-color: #FFD678;
  padding: 5px;
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  font-size: 30px;
}

.article1 {
  width: 19%;
  background-color: #D58FFF;
  margin: auto;
}
.article2 {
  width: 19%;
  background-color: #D58F00;
  margin: auto;
}
.article3 {
  width: 19%;
  background-color: #D5f00f;
  margin: auto;
}
.article4 {
  width: 19%;
  background-color: #D58FF9;
  margin: auto;
}
.article5 {
  width: 19%;
  background-color: #D58F08;
  margin: auto;
}

@media only screen and (max-width: 800px) {
  .page {
    width: 100%;
  }
  .photo {
    width: 100%;
    height: 600px;
  }
  .text {
    width: 100%;
    height: 500px;
  }
  .articles {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .page {
    width: 100%;
  }
  .photo {
    width: 100%;
    height: 500px;
  }
  .text {
    width: 100%;
    height: 800px;
  }
}
