body {
  background-color: #D3D3D3;
}

.photo {
  width: 50%;
  height: 800px;
  background-image: url(../images/cust_notes.jpg);
  background-size: cover;
}

.text {
  background-color: #F9AB69;
  width: 50%;
  height: 800px;
  padding: 40px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
}

h1 {
  font-size: 60px;
}

.articles {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  margin: auto;
  padding: 10px;
  font-family: 'Shadows Into Light', cursive;
  color: white;
}

.articles p {
  font-size: 20px;
  text-align: center;
  padding-top: 200px;
  position: relative;
}

.article1 {
  width: 25%;
  background-image: url(../images/ann_cust1.jpg);
  margin: auto;
}
.article2 {
  width: 25%;
  background-image: url(../images/aliza_cust2.jpg);
}
.article3 {
  width: 25%;
  background-image: url(../images/mom_cust3.jpg);
}
.article4 {
  width: 25%;
  background-image: url(../images/sarah_cust4.jpg);
}

@media only screen and (max-width: 800px) {
  .page {
    width: 100%;
  }
  .photo {
    width: 100%;
    height: 600px;
  }
  .text {
    width: 100%;
    height: 500px;
  }
  .articles {
    height: 800px;
  }
  .articles p {
    padding-top: 500px;
  }
  .article1 {
    width: 100%;
  }
  .article2 {
    width: 100%;
  }
  .article3 {
    width: 100%;
  }
  .article4 {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .page {
    width: 100%;
  }
  .photo {
    width: 100%;
    height: 500px;
  }
  .text {
    width: 100%;
    height: 800px;
  }
}
