/*page content*/
body {
  background-image: url(../images/box_rings.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}

.page {
  justify-content: flex-start;
}


.title {
  width: 100%;
  position: relative;
  left: 0;
  top: 400px;
}

.title h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 60px;
  width: 80%;
  padding-left: 20px;
}
.title p {
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  width: 50%;
  padding-left: 60px;
}

@media only screen and (max-width: 990px) {
  .page {
    width: 100%;
    left: 0;
    top: 100px;
    justify-content: center;
  }
  .title {
    top: 500px;
  }
  .title h1 {
    width: 100%;
    text-align: center;
  }
  .title p {
    width: 100%;
    text-align: center;
  }
}
